@if (productDetails) {

<div class="row align-items-center bg-secondary-subtle g-0">
  <div class="col col-12 col-sm-2">
    <div class="image">
      <img
        [src]="productDetails.image"
        [alt]="productDetails.title"
        class="w-100"
      />
    </div>
  </div>
  <div class="col col-12 col-sm-10">
    <div class="content ps-3">
      <h3>{{ productDetails.title }}</h3>
      <h4 class="text-muted fw-light">{{ productDetails.category }}</h4>

      <span>{{ productDetails.price | currency : "GBP" }}</span>
      <div>
        @for (num of [1,2,3,4,5].slice(0,productDetails.rating.rate); track
        $index) {
        <span> <i class="fas fa-star rating-color"></i></span>
        } @if(productDetails.rating.rate %1 !==0){
        <i class="fas fa-star-half-stroke rating-color"></i>
        }
        <span>{{ productDetails.rating.rate }}</span>
        <span class="font-sm text-muted"
          >({{ productDetails.rating.count }})</span
        >
      </div>
    </div>
  </div>
</div>
}
